
@{
    ViewBag.Title = "ShowStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Ajax.BeginForm("Showattendances", "Admin", new AjaxOptions() { UpdateTargetId = "div1", HttpMethod = "Get" }))
{
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">View Attendances</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/Home/index">Home</a></li>
                    <li class="breadcrumb-item active">Attendances</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">

                        <div class="form-group">
                            @Html.Label("Department name", new { @class = "lg mb-1" })

                            @Html.DropDownList("departments", ViewBag.departments as SelectList, "--select Department--", new { @class = "btn btn-danger dropdown-toggle form - control py - 4" })
                           
                            <div class="col-md-3">
                                
                                @Html.Label("From", new { @class = "lg mb-1" })
                                @Html.TextBox("From", null,  new { @class="form-control datapiker", id = "start", placeholder = "Date start" })

                                </div>
                                <div class="col-md-3">
                                      @Html.Label("To", new { @class = "lg mb-1" })
                                      @Html.TextBox("To", null, new { @class = "form-control datapiker", id = "End", placeholder = "Date end" })


                            </div>

                            <button class="btn btn-primary" type="submit">View</button>

                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
}




<div id="div1">



</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $(".datapiker").datetimepicker({
                
                dateFormat: "yy-mm-dd",
                timeFormat: "hh:mm:ss"
                
            });
        });

    </script>
}

