@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  

</head>
<body class="sb-nav-fixed">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Attendance System</a>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading align-content-lg-start">Core</div>
@if (Request.IsAuthenticated)
{
    <a class="nav-link" href="/Home/Index">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        My Profile
    </a>

}
else
{

    <a class="nav-link" href="/Home/Index">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Home page
    </a>

}
                        <div class="sb-sidenav-menu-heading">Pages</div>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="nav-link collapsed" href="/Admin/index" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                View Permissions
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <a class="nav-link collapsed" href="/Admin/showstudents" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                View Attendances
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <a class="nav-link collapsed" href="/Admin/showstd" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                View Students attendance at specific date
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Student"))
                        {
                            <a class="nav-link collapsed" href="/student/permission" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Request a permission
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <a class="nav-link collapsed" href="/student/MyAttendence" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                View My Attendance
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Secureity"))
                        {
                            <a class="nav-link collapsed" href="/security/dropdownone" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Take Attendance
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                           
                        }

                        <div class="sb-sidenav-menu-heading">Authantication</div>
                        @Html.Partial("_LoginPartial")

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Student,Admin,Secureity
                </div>
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex  align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Attendance System 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
