@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated && User.IsInRole("Student"))
{
    @Html.Action("profile", "Student")
}
else
{
    if (Request.IsAuthenticated)
    {
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        @Styles.Render("~/Content/profile.css")


        <div class="container emp-profile">

            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
@if (User.IsInRole("Secureity"))
{        <img src="~/images/security.png" alt="" />}
@if (User.IsInRole("Admin"))
{        <img src="~/images/admin.jpg" alt="" />}

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            @User.Identity.GetUserName()
                        </h5>
            @if (User.IsInRole("Secureity"))
            { <h6>
                            Security
                        </h6>
            }
             @if (User.IsInRole("Admin"))
             {
                <h6>
                   Admin
                </h6>
             }

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">

                </div>

                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label> Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@User.Identity.GetUserId()</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label> Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@User.Identity.GetUserName()</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@ViewBag.Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                   
                                    <p>@ViewBag.phone</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
      
      //  <main>
                <div class="container-fluid">
                    <img src="~/images/on.png" width="1000" height="600" />
                    </div>
                    
    }
}
